/* .switch input {
    opacity: 0;
}

.switch{
    display:inline-block;
    width: 60px;
    height: 35px;
    position: relative;
}

.slider{
    position: absolute;
    background-color: rgb(80, 94, 103);
    top:0;
    bottom: 0;
    left:0;
    right:0;
    border-radius: 36px;
}

.slider :before{
    position: absolute;
    content: '';
    background-color: white;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    transition: .4s;
}

input :checked+ .slider {
background: coral;
}

input :checked+ .slider :before{
    transform: translateX(26px)

/* } */


/* ontop  */
/* .toggle {
    --width: 50px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);
  
    display: inline-block;
    cursor: pointer;
  }
  
  .toggle__input {
    display: none;
  }
  
  .toggle__fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill {
    background: #009578;
  }
  
  .toggle__fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
  }
  
  .toggle__input:checked ~ .toggle__fill::after {
    transform: translateX(var(--height));
  /* } */ 
  
/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex-direction: column;
background:#dacece;
}

label
{
    position: relative;
    margin: 5px 0;
    cursor: pointer;

}
label input
{
    appearance: none;
    display: none;
}
label span 
{
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    background: #222;
    border-radius: 40px;
    box-shadow: inset 0 2px 15px rgba(14, 14, 14, 0.2),
                inset 0 2px 2px rgba(40, 39, 39, 0.2),
                inset 0 -1px 1px rgba(29, 28, 28, 0.2);
}
label .indicator
{
    position: absolute;
    top: 0;
    left:0;
    width:40px;
    height: 40px;
    background: linear-gradient(to bottom, #444, rgb(87, 82, 82));
    border-radius: 50%;
    box-shadow:  0 2px 5px rgba(0,0,0,0.5),
                inset 0 1px 1px rgba(255,255,255,0.1);
    transition: 0.5s;
    transform: scale(0.9);
}
label input :checked ~ .indicator 
{
    left:40px;
}
label .indicator::before 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background:magenta;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0 0 2px #ff3c00,
                 0 0 5px #ff3c00,
                 0 0 10px #ff3c00,
                 0 0 15px #ff3c00,
                 0 0 20px #ff3c00,
                 0 0 25px #ff3c00,
                 0 0 30px #ff3c00,
                 0 0 40px #ff3c00;
}
label input :checked ~ .indicator::before
{
    background:rgb(249, 249, 23);
    box-shadow: 0 0 2px #eeff00,
    0 0 5px #eeff00,
    0 0 10px #eeff00,
    0 0 15px #eeff00,
    0 0 20px #eeff00,
    0 0 25px #eeff00,
    0 0 30px #eeff00,
    0 0 40px #eeff00,;
} */


body{
    background: rgb(192, 190, 196);
}
h1{
    font-size: 4rem;
}

div.toggle-btns {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  div.toggle-btn {
    margin:20px;
  }
  .toggle-btn label {
    position:relative;
    display:block;
    width:100px;
    height:50px;
    background:rgb(236, 191, 191);
    border-radius:30px;
    transition:all 300ms linear;
  }
   
  .toggle-btn label:before {
    position:relative;
    content:"";
    width:40px;
    height:40px;
    background:rgb(108, 102, 102);
    display:block;
    border-radius:50%;
    top:5px;
    left:10px;
    transition:all 300ms linear;
  }
  .toggle-btn.red input:checked + label {
    background:rgb(235, 23, 200);
  }
  .toggle-btn input:checked + label {
    background:#045172;
  }
  .toggle-btn input:checked + label:before {
    left:50px;
  }
   
  .toggle-btn input {
    display:none;
  }